html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: unset;
}

*::selection {
    color: rgb(115, 243, 194);
}

body {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(252, 81, 138);
    align-items: center;
}

#main-card {
    position: fixed;
    top: 15%;
    left: 37.5%;
    background-color: rgb(252, 81, 138);
    width: 25%;
    height: 70%;
    border-radius: 0.7vw;
    box-shadow: 1vw 0.5vw 3vw rgb(59, 36, 52);
    z-index: 1;
    transition: left 3s;
    text-align: center;
}

H2 {
    color: white;
    font-size: 3vw;
}

p {
    color: white;
    font-size: 1vw;
    margin: 5%
}

.detail-card {
    position: fixed;
    top: 17.5%;
    left: 37.5%;
    width: 25%;
    height: 65%;
    transition: left 3s;
    border-radius: 0.6vw;
    background-color: rgb(252, 81, 138);
    box-shadow: 1vw 0.5vw 3vw rgb(59, 36, 52);
}

.button {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: white;
    font-size: 1.2vw;
    border: 0.2vw solid white;
    margin-top: 0.5vw;
    border-radius: 2vw;
}