html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::selection {
    color: rgb(243, 230, 115);
}

body {

    margin: 0;
    padding: 0;
}

header{
    display: none;
}
.fullscreen{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left, #1f2d53,#325548)
}

.intro-text{
    margin: 0;
    position: relative;
    font-size: 3rem;
    color: #dfdfdf;
    font-family: 'Courier New', Courier, monospace;
}

.intro{
    box-sizing: border-box;
    position: relative;
    padding: 2% 2%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.headline{
    margin: 0;
}

.about{
    box-sizing: border-box;
    color: #dfdfdf;
    padding: 2%;
}
.headline{
    font-size: 3rem;
}
.description{
    color: #dfdfdf;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

.get-my-resume{
    padding: 0.5rem;
    border-radius: 3px;
    border: #dfdfdf solid 2px;
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    transition: all ease-in 0.5s;
}

.get-my-resume:hover{
    background-color: #dfdfdf;
    color: #242b31;
    cursor: pointer;
}