/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: none;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #7c7c7c;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00485e;
    border-radius: 5px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00799e;
}

