<div class="page-wrapper">
  <div class="full-page-wrapper intro-page">
    <div class="intro">
      <h5>Hi there, I am</h5>
      <h3>Dhiraj Salunke</h3>
      <h1>&lt;The coding spider /&gt;</h1>
    </div>

    <div class="scroll-icon">
      <mat-icon>mouse</mat-icon>
      <br />
      <mat-icon>expand_more</mat-icon>
    </div>
  </div>
  <mat-toolbar class="header">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>code</mat-icon>
    </button>
    <span>Dhiraj Salunke</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button> -->
  </mat-toolbar>
  <div class="full-page-wrapper with-header">
    <div class="page-content">
      <div class="content-side">
        <h1 class="section-title">About me!</h1>
        <p>
          Since you are here, let me tell you about myself. I am a
          <strong
            ><em
              >computer engineer, AWS cloud engineer, Python and node stack
              backend developer, angular developer and flutter developer</em
            ></strong
          >. I love to build software, Have a look at some things you might be
          interested to know about me.
        </p>
        <ul>
          <li>Experienced AWS cloud engineer</li>
          <li>Flutter development</li>
          <li>Python fastAPI development</li>
          <li>Angular and node development</li>
          <li>Good team player</li>
          <li>Always ready kick off with new tech</li>
        </ul>
        <div class="button"><button class="styled-button">GET RESUME</button></div>
      </div>
      <div class="illustration-side">
        <img src="../../assets/images/programming.svg" alt="programmer" />
      </div>
    </div>
  </div>
  <div class="full-page-wrapper with-header">
    <div class="page-content">
      <div class="illustration-side">
        <img src="../../assets/images/building_software.svg" alt="programmer" />
      </div>
      <div class="content-side">
        <h1 class="section-title">My creation!</h1>
        <div class="content-wrapper">
          <div class="card" *ngFor="let each of [1,1]">
            <img src="../../assets/images/corona-counter.png" alt="icon">
            <h3>Covid Counter</h3>
            <p>Near realtime covid count provider with public apis.</p>
            <button class="styled-button">View it!</button>
          </div>
        </div>
      </div>
      <div class="full-page-wrapper with-header">
        <div class="page-content">
          <div class="content-side">
            <h1 class="section-title">About me!</h1>
            <p>
              Since you are here, let me tell you about myself. I am a
              <strong
                ><em
                  >computer engineer, AWS cloud engineer, Python and node stack
                  backend developer, angular developer and flutter developer</em
                ></strong
              >. I love to build software, Have a look at some things you might
              be interested to know about me.
            </p>
            <ul>
              <li>Experienced AWS cloud engineer</li>
              <li>Flutter development</li>
              <li>Python fastAPI development</li>
              <li>Angular and node development</li>
              <li>Good team player</li>
              <li>Always ready kick off with new tech</li>
            </ul>
          </div>
          <div class="illustration-side">
            <img
              src="../../assets/images/certificate.svg"
              alt="programmer"
              class="vertical"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
